<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.luoyang.small.mapper.AlbumMapper">

    <!-- int insert(Album album); -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pms_album (name, description, sort)
        VALUES (#{name}, #{description}, #{sort})
    </insert>

    <!-- int countByName(String name); -->
    <select id="countByName" resultType="int">
        SELECT count(*)
        FROM pms_album
        WHERE name = #{name}
    </select>


    <!-- int deleteByName(String name); -->
    <delete id="deleteByName">
        DELETE
        FROM pms_album
        WHERE name = #{name}
    </delete>


    <!-- int update(Album album); -->
    <update id="updateByName" parameterType="com.luoyang.small.pojo.entity.Album">
        UPDATE pms_album
        <set>
            <if test="name != null">
                name=#{name},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="sort != null">
                sort=#{sort},
            </if>
        </set>
        WHERE name=#{name}
    </update>


    <select id="selectAll" resultType="com.luoyang.small.pojo.entity.Album">
        SELECT id, name, description, sort
        FROM pms_album
    </select>

</mapper>